@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 227, 4, 1);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(0, 227, 4, 1);
    box-shadow: 0 0 0 0 rgba(0, 227, 4, 1);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
      box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}

@-webkit-keyframes pulse2 {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(4, 199, 199, 1);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse2 {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(4, 199, 199, 1);
    box-shadow: 0 0 0 0 rgba(4, 199, 199, 1);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
      box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}



*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

label {
  font-size: 1.2rem;
  color: #656262;
}

html,
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  width: 100%;
}

body {
  background: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form_container {
  margin-top: 50%;
  background-color: #fff;
  padding: 2rem 3rem;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 400px;
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

.form_container > h2 {
  margin-block: 1rem;
  padding-block: 0.6rem;
  color: #00e304;
  font-family: 'Dosis', sans-serif;
  text-align: center;
}

.form_container > form {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.form_container div {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.form_container input {
  border: none;
  padding: 0.5rem;
  border-bottom: 1px solid gray;
  font-size: 1.1rem;
  outline: none;
}

.form_container input::placeholder {
  font-size: 0.9rem;
  font-style: italic;
}

.form_container button {
  background-color: #00e304;
  color: #fff;
  border: none;
  padding: 0.6rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.3rem;
  font-family: 'Dosis', sans-serif;
}

span a {
  text-decoration: none;
  color: #00e304;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
}

.signup-error{
  color: red;
  font-family: 'Dosis', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;

}

.home-button{
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home_page {
  background: #000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  flex-direction: column;
  gap: 1rem;
}

.home-page-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: .5rem;
  padding-left: .5rem;
  padding-right: .5rem;
  width: 100vw;
  font-family: 'Bebas Neue', sans-serif;
}

.home-page-header h5{
  font-family: 'Dosis', sans-serif;
  
}

.div-title{
  font-family: 'Dosis', sans-serif;
}

.home-page-header img{
  max-width: 15vw;
  max-height: 15vh;
}

.landing-page{
  height: 100vh;
  width: 100vw;
  background: #000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  flex-direction: column;
  gap: 1rem;
}

.home_page span {
  color: #00e304;
}

.home_page button {
  background-color: rgb(27, 73, 83);
  color: #fff;
  cursor: pointer;
  padding: 1rem 3rem;
  font-size: 2rem;
  border-radius: 2rem;
  transition: ease-in 0.3s;
  border: none;
}

.home_page button:hover {
  background-color: rgba(0, 212, 255, 1);
}

.landing-img img{
  max-width: 50vw;
  max-height: 15vh;
}

.landing-buttons{
  width: 85vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.landing-name{
  font-family: 'Bebas Neue', sans-serif;
}
.landing-title{
  font-family: 'Dosis', sans-serif;
}
.landing-text{
  font-size: 1rem;
  font-family: 'Dosis', sans-serif;
  margin-bottom: 2rem;
}

.button-div{
  width: 40vw;
  height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #00e304;
  padding: 0;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
}

.button-text{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Dosis', sans-serif;
  color: white;
}

.button-img{
  background-color: white;
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid white;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.live-readings{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90vw;
  border-radius: 10px;
}
.live-tent-readings{
  display: flex;
  flex-direction: row;
}
.live-water-readings{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.live-readings h3{
  font-family: 'Dosis', sans-serif;
  text-align: center;
}

.readings-time{
  font-size: .75rem;
}

.live-tent{
  display: flex;
  flex-direction: column;
  width: 33%;
}




.tent-reading-img, .water-reading-img{
  background-color: black;
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid white;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  font-size: .75rem;
}
.water-reading-img img{
  max-width: 24px;
  max-height: 24px;
}

.readingsContainer{
  font-family: 'Bebas Neue', sans-serif;
  padding: 2rem;
  font-size: 1rem;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 3rem;
  box-shadow: 0 0 8px 5px #00e304;
}
.readingsContainer h1{
  
  font-family: 'Dosis', sans-serif;
}
.water-div-glow{
  box-shadow: 0 0 10px 5px #04c7c7;
}
.readings-divider{
  font-family: 'Bebas Neue', sans-serif;
  text-align: center;
  margin: 1rem;
}
.tooltip-div{
  padding: 6px;
  background-color: white;
  color: black;
  border-radius: 10px;
}

.tent-temp-chart{
  width: 80vw;
  height: 20vh;
  margin-left: -3rem;
}

.dashboard-img img{
  max-height: 20vh;
  max-width: 30vw;
}

.dashboard-buttons{
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.chart-toggle{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90vw;
}
.toggle-button{
  width: 25vw;
  height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #00e304;
  padding: 0;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.tent-reading-div{
  width: 21vw;
  height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #3a3b3a;
  padding: 0;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-bottom: .5rem;
  
}

.tent-reading-div p, .water-reading-div p{
  font-size: 1rem;
}

.water-reading-div{
  width: 21vw;
  height: 5vh;
  margin-bottom: .5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #3a3b3a;
  padding: 0;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  
}

.toggle-button-off{
  width: 25vw;
  height: 5vh;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  background-color: darkslategray;
  padding: 0;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
}
.toggle-button-img{
  width: 3rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid white;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #000;
}

.tent-reading-img{
  width: 2.5rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid white;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #000;
  box-shadow: 0 0 8px 5px #00e304;
  animation: pulse 2s infinite;
}

.water-reading-img{
  width: 2.5rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid white;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #000;
  box-shadow: 0 0 8px 5px #04c7c7;
  animation: pulse2 2s infinite;
}
.water-reading-img p{
  font-size: .75rem;
}

.toggle-button-text{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Dosis', sans-serif;
  color: white;
}
.tent-reading{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Dosis', sans-serif;
  color: white;
}

.water-reading{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Dosis', sans-serif;
  color: white;
}

@media only screen and (max-width: 1200px){
  .home_page{
    font-size: 1.5rem;
  }
  .home_page button {
    padding: 0.6rem 1rem;
    font-size: 1.5rem;
  }
}