@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 227, 4, 1);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(0, 227, 4, 1);
    box-shadow: 0 0 0 0 rgba(0, 227, 4, 1);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
      box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}

@keyframes spacerPulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(0, 227, 4, 1);
    box-shadow: 0 0 0 0 rgba(0, 227, 4, 1);
  }
  70% {
      -moz-box-shadow: 0 0 0 8px rgba(204,169,44, 0);
      box-shadow: 0 0 0 8px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}

@-webkit-keyframes pulse2 {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(4, 199, 199, 1);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse2 {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(4, 199, 199, 1);
    box-shadow: 0 0 0 0 rgba(4, 199, 199, 1);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
      box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}



*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

label {
  font-size: 1.2rem;
  color: white;
}

html,
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #121212;
  width: 100%;
}

body {
  background: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-page{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-container {
  background-color: #2c4c3b;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  max-width: 400px;
  height: auto;
  margin-top: 8rem;
}

.form-container > h2 {
  margin-block: 1rem;
  padding-block: 0.6rem;
  color: lightgreen;
  font-family: 'Dosis', sans-serif;
  text-align: center;
}

.form-container > form {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.form-container div {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.form-container input {
  border: none;
  padding: 0.5rem;
  border-bottom: 1px solid gray;
  font-size: 1.1rem;
  outline: none;
  border-radius: 10px;
}

.form-container input::placeholder {
  font-size: 0.9rem;
  font-style: italic;
}

.form-container button {
  background-color: #306844;
  color: white;
  border: none;
  padding: 0.6rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border: 3px solid lightgreen;
  border-radius: 0.3rem;
  font-family: 'Dosis', sans-serif;
}
span{
  text-align: center;
  color: white;
  font-size: .75rem;
}
span a {
  text-decoration: none;
  color: lightgreen;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  font-size: 1rem;
}

.signup-error{
  color: red;
  font-family: 'Dosis', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;

}

.home-button{
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home_page {
  background: #000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  flex-direction: column;
}

.home-page-header{
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-top: .5rem;
  padding-left: .5rem;
  padding-right: .5rem;
  width: 100vw;
  font-family: 'Bebas Neue', sans-serif;
  align-items: center;  
}

/* Navbar styles*/

.navbar img{
  position: fixed;
  right: .5rem;
  top: .5rem;
}
.nav-options{
  position: fixed;
  right: .5rem;
  top: 2.5rem;
  width: 50vw;
  background-color: #455b55;
  color: white;
  border-radius: 10px;
  /*box-shadow: 3px 2px 3px 1px #5abe7d;*/
}

.nav-options ul{
  list-style: none;
  text-align: center;
}

.nav-options li{
  padding: 1rem;
}

.spacer{
  width: 30vw;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: .5rem;
}
.spacer-left{
  height: 4px;
  background-color: rgba(0, 227, 4, .75);
  width: 15%;
  animation: spacerPulse 2s infinite;
  border-radius: 1px;
}
.spacer-left-2{
  height: 4px;
  background-color: rgba(0, 227, 4, .75);
  width: 45%;
  animation: spacerPulse 2s infinite;
  border-radius: 1px;
}
.spacer-left-3{
  height: 4px;
  background-color: rgba(0, 227, 4, .75);
  width: 85%;
  animation: spacerPulse 2s infinite;
  border-radius: 1px;
}
.spacer-right{
  height: 4px;
  background-color: #3a3b3a;
  width: 85%;
}
.spacer-right-2{
  height: 4px;
  background-color: #3a3b3a;
  width: 55%;
}
.spacer-right-3{
  height: 4px;
  background-color: #3a3b3a;
  width: 15%;
}
.full-bar{
  height: 4px;
  background-color: rgba(0, 227, 4, .75);
  width: 50vw;
  animation: spacerPulse 2s infinite;
  border-radius: 1px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  margin-top: 2rem;
}
.home-page-header h5{
  font-family: 'Dosis', sans-serif;
  
}

.div-title{
  font-family: 'Dosis', sans-serif;
}

.home-page-header img{
  max-width: 10vw;
  max-height: 10vh;
  padding-bottom: .25rem;
}
.header-expand{
  height: 6vh;
  width: 90%;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  box-shadow: 0 4px 4px 0 rgba(66, 68, 90, 1);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.header-hide{
  display: none;
}

.landing-page{
  width: 100vw;
  background-color: #182c25;
  color: white;
  display: flex;
  flex-direction: column;
}
.landing-page-image{
  width: 100%;
}
.landing-page-image img{
  max-width: 100vw;
}

.home_page span {
  color: #00e304;
}
.page-header{
  height: 3rem;
  background-color: #306844;
  font-family: 'Bebas Neue', sans-serif;
  color: #00e304;
  font-size: 2rem;
  display: flex;
  align-items: center;
}
.page-header-left{
  color:  lightgreen;
  margin-left: .5rem;
}
.page-header-right{
  color: white;
}
.landing-img img{
  max-width: 40vw;

}
.levelup-mushrooms {
  margin-left: auto;
  margin-right: auto;
}
.levelup-mushrooms img{
 max-width: 50vw;
}

.landing-buttons{
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}
.landing-name{
  font-family: 'Bebas Neue', sans-serif;
}
.landing-title-div{
  font-family: 'Dosis', sans-serif;
  width: 100vw;
  height: 45vh;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}
.landing-image{
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100vw;
  height: auto;
  margin-bottom: 2rem;
}
.landing-image img{
  max-width: 40vw;
  margin-left: auto;
  margin-right: auto;
}
.product-info-div{
  font-family: 'Dosis', sans-serif;
  width: 100vw;
  margin-top: 2rem;
}
.landing-welcome{
  margin-top: 1rem;
  margin-left: .5rem;
  font-size: 1.5rem;
  font-family: 'Dosis', sans-serif;
}
.landing-intro b{
  color: #306844;
  font-size: 1.25rem;
}
.product-info-title{
  margin-left: .5rem;
  font-size: 1.5rem;
  font-family: 'Dosis', sans-serif;
  padding-top: 1rem;
}
.landing-brand{
  text-align: center;
  height: auto;
  
}
.landing-brand h4{
  font-family: 'Bebas Neue', sans-serif;
  font-size: 4rem;
  color: lightgreen;
}
.landing-brand p{
  color:white;
  font-weight: 500;
}
.join-header{
  text-align: center;
  height: auto;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2.5rem;
}
.product-info-title-big{
  text-align: center;
  height: auto;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 3rem;
  color: lightgreen;
}
.product-info-title-small{
  text-align: center;
  font-family: 'Dosis', sans-serif;
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
  color: white;
}
.landing-text{
  font-family: 'Inter', sans-serif;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: flex;
  font-weight: 300;
  background-color: rgba(58, 59, 58, .5);
  padding: 1.5rem;
  border-bottom-left-radius: 35px;
  border-top-right-radius: 35px;
}
.join-text{
  font-family: 'Inter', sans-serif;
  text-align: center;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  padding: 1.5rem;
  color: #000;
  background-color: white;
  line-height: 1.6;
}
.join-text b{
  color: #306844;
}
.join-text p {
  width: 80vw;
}
.product-info{
  font-family: 'Dosis', sans-serif;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding-top: 2rem;
}

.product-info b{
  color: #306844;
}

.product-info li{
  margin-bottom: .5rem;
  list-style: none;
  font-size: 1rem;
  font-family: 'Inter', sans-serif;
  color: black;
  padding: 1rem;
  border-bottom-left-radius: 35px;
  border-top-right-radius: 35px;
  width: 90vw;
  text-align: center;
  line-height: 1.6;
}

.product-info-li-spacer{
  height: 2px;
  width: 30vw;
  background-color: #656262;
  margin-left: auto;
  margin-right: auto;
}

.landing-intro{
  height: 45vh;
  display: flex;
  width: 100vw;
  background-color: white;
  
}
.landing-intro p{
  font-family: 'Inter', sans-serif;
  width: 90vw;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  padding: 1.5rem;
  color: #000;
  line-height: 1.6;
  margin-top: auto;
  margin-bottom: auto;
}


.button-div{
  width: 35vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgba(58, 59, 58, .5);
  padding: 0;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.button-text{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.75rem;
  font-family: 'Bebas Neue', sans-serif;
  color: white;
}

.button-img{
  background-color: #455b55;
  padding: .5rem;
  height: 100%;
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #182c25;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.live-header{
  font-family: 'Dosis', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: .5rem;
}

.live-readings{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90vw;
  border-radius: 10px;
  margin-top: 1rem;
}
.live-tent-readings{
  display: flex;
  flex-direction: row;
}
.live-water-readings{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.live-readings h3{
  font-family: 'Dosis', sans-serif;
  text-align: center;
}

.readings-time{
  font-size: .75rem;
  margin-bottom: 1.5rem;
}

.live-tent{
  display: flex;
  flex-direction: column;
  width: 33%;
}




.tent-reading-img, .water-reading-img{
  background-color: black;
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid white;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  font-size: .75rem;
}
.water-reading-img img{
  max-width: 24px;
  max-height: 24px;
}

.readingsContainer{
  font-family: 'Bebas Neue', sans-serif;
  padding: 2rem;
  font-size: 1rem;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  margin-bottom: 1rem;
  background-color: rgba(58, 59, 58, .5);
  
}
.readingsContainer h1{
  margin-top: 1rem;
  font-family: 'Dosis', sans-serif;
}

.past-data-title{
  text-align: center;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
}

.reading-chart-timestamp p{
  text-align: center;
}

.readings-divider{
  font-family: 'Bebas Neue', sans-serif;
  text-align: center;
  margin: 1rem;
}
.tooltip-div{
  padding: 6px;
  background-color: white;
  color: black;
  border-radius: 10px;
}

.tent-temp-chart{
  width: 80vw;
  height: 20vh;
  margin-left: -3rem;
}

.dashboard-img img{
  max-height: 20vh;
  max-width: 30vw;
}

.dashboard-buttons{
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.chart-toggle{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: .5rem;
  margin-bottom: .5rem;
  border: 2px solid white;
  font-family: 'Bebas Neue', sans-serif;
  border-radius: 5px;
  color: #6c826c;
  background-color: rgba(58, 59, 58, .75);
}
.chart-toggle-left{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
  border-right: 2px solid white;
  padding: .5rem;
}
.chart-toggle-center{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
  border-right: 2px solid white;
  padding: .5rem;
}
.chart-toggle-right{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
  padding: .5rem;
}
.active{
  color: white;
  background-color: rgba(0, 227, 4, .75);
  width: 50%;
}
.toggle-show{
  font-size: .75rem;
  text-align: center;
  margin-bottom: 1rem;
  
}
.toggle-button{
  width: 25vw;
  height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #00e304;
  padding: 0;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-bottom: 1rem;
}

.chart-toggle-header{
  font-family: 'Bebas Neue', sans-serif;
}

.tent-reading-div{
  width: 21vw;
  height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #3a3b3a;
  padding: 0;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-bottom: .5rem;
  
}

.tent-reading-div p, .water-reading-div p{
  font-size: 1rem;
}

.water-reading-div{
  width: 21vw;
  height: 5vh;
  margin-bottom: .5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #3a3b3a;
  padding: 0;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  
}

.toggle-button-off{
  width: 25vw;
  height: 5vh;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  background-color: darkslategray;
  padding: 0;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
}
.toggle-button-img{
  width: 3rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid white;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #000;
}

.tent-reading-img{
  width: 2.5rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid white;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #000;
  box-shadow: 0 0 8px 5px #00e304;
  animation: pulse 2s infinite;
}

.water-reading-img{
  width: 2.5rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid white;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #000;
  box-shadow: 0 0 8px 5px #04c7c7;
  animation: pulse2 2s infinite;
}
.water-reading-img p{
  font-size: .75rem;
}

.toggle-button-text{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Dosis', sans-serif;
  color: white;
}
.tent-reading{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Dosis', sans-serif;
  color: white;
}

.water-reading{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Dosis', sans-serif;
  color: white;
}

.footer{
  text-align: center;
  padding-top: 3rem;
}


@media only screen and (max-width: 1200px){
  .home_page{
    font-size: 1.5rem;
  }
  
}